{{/* MyList Widget by Kengo Ohta */}}
{{ $ := .root }}
{{ $page := .page }}

<div class="row">
  <div class="col-12 col-lg-4 section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify | emojify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
  </div>
  <div class="col-12 col-lg-8">
    <h3>代表者</h3>
    {{ with $page.Params.represents }}
    <ul>
      {{ range . }}
      <li>{{ . | markdownify | emojify }}</li>
      {{ end }}
    </ul>
    {{ end }}
    <h3>分担者</h3>
    {{ with $page.Params.contributes }}
    <ul>
      {{ range . }}
      <li>{{ . | markdownify | emojify }}</li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
</div>
